:root {
  --header-color: #212121;
  --light-header-color:#FFFFFF;
  --text-color:#757575;
  --logo-accent-color: #2196F3;
  --logo-dark-color: #000000;
  --logo-light-color: #FFFFFF;
  --btn-color: #2196F3;
  --btn-portfolio-color: #F5F4FA;
  --active-color: #2196F3;
  --btn-text-active-color: #FFFFFF;
  --main-background-color: #FFFFFF;
  --hero-backgroud-color: #2F303A;
  --our-team-background-color: #F5F4FA;
  --after-hero-icon-background-color: #F5F4FA;
  --our-team-foto-background-color: #FFFFFF;
  --footer-background-color: #2F303A;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--header-color);
  background: var(--main-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: o;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.24;
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__wed {
  color: var(--logo-accent-color);
}

.logo__studio--dark {
  color: var(--logo-dark-color);
}

.logo__studio--light {
  color: var(--logo-light-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
  width: 100%;
  position: relative;
}

.wraper {
  display: flex;
}

.navigation {
  display: flex;
}

.navigation__logo {
  padding: 26px 0;
  margin-right: 88px;
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .navigation__list {
    margin-right: 96px;
  }
}

.navigation__page:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: inherit;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link--active {
  color: var(--active-color);
}
.navigation__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2%;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-color);
}

.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__items:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__items:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 32px 0;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--active-color);
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}
.contacts__icon--mail {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--mail {
    width: 16px;
    height: 12px;
  }
}
.contacts__icon--tel {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--tel {
    width: 10px;
    height: 16px;
  }
}

.navigation__page:hover,
.navigation__page:focus {
  color: var(--active-color);
}

.menu-open {
  position: absolute;
  opacity: 2;
  top: 10px;
  right: 15px;
  cursor: pointer;
  background-color: #FFFFFF;
  border-color: transparent;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  position: absolute;
  z-index: 2;
  width: 100vw;
  min-height: 100%;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  padding: 48px 40px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu-close {
  position: absolute;
  top: 21px;
  right: 25px;
  background-color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover, .menu-close:focus {
  fill: var(--active-color);
}

.mob__page:not(:last-child) {
  margin-bottom: 32px;
}

.mob__link {
  font-size: 40px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob__link:hover, .mob__link:focus {
  color: var(--active-color);
}

.mob__contacts {
  margin-top: 306px;
}

.mob__tel {
  font-size: 25px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--active-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob__tel:hover, .mob__tel:focus {
  color: rgb(36, 61, 229);
}
@media screen and (min-width: 400px) {
  .mob__tel {
    font-size: 34px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.mob__mail {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob__mail:hover, .mob__mail:focus {
  color: rgb(36, 61, 229);
}

.mob__profile {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.mob__social-link {
  font-size: 16px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--active-color);
}
@media screen and (min-width: 400px) {
  .mob__social-link {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.mob__social:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--active-color);
}

.hero {
  margin: 0 auto;
  height: 100%;
  max-width: 480px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background: var(--hero-backgroud-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mob-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-desk-2x.jpg);
  }
}
.hero .conteiner {
  max-width: 360px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .hero .conteiner {
    max-width: 696px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--light-header-color);
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--light-header-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover {
  background: #188CEB;
}

.after-hero__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.after-hero__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .after-hero__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .after-hero__item {
    width: calc((100% - 90px) / 4);
  }
}

.after-hero__conteiner {
  height: 120px;
  background-color: var(--after-hero-icon-background-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.after-hero__subtitle {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}
@media screen and (min-width: 768px) {
  .after-hero__subtitle {
    text-align: left;
  }
}

.after-hero__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__heading {
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-align: center;
  color: var(--header-color);
}

.work__list {
  margin-top: 50px;
  display: flex;
}

.work__card:not(:last-child) {
  margin-right: 30px;
}

.work__card {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

.work__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work__overlay {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__text {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-header-color);
}

.team {
  background: var(--our-team-background-color);
}

.team__title {
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-align: center;
  color: var(--header-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.team__items {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__items {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__items {
    width: calc((100% - 90px) / 4);
  }
}

.developer {
  background: var(--our-team-foto-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.developer__conteiner {
  padding-top: 30px;
  padding-bottom: 24px;
}

.developer__name {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
}

.developer__job {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.18;
  color: var(--text-color);
}

.developer__profile {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.profile__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.profile__link:hover, .profile__link:focus {
  background-color: var(--active-color);
  color: #FFFFFF;
}

.profile__icon {
  fill: currentColor;
}

.profile__link--footer {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}
.profile__link--footer:hover, .profile__link--footer:focus {
  background-color: var(--active-color);
}

.client__title {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.client__items {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__items {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__items {
    width: calc((100% - 150px) / 6);
  }
}

.client__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  outline: transparent;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__wraper:hover, .client__wraper:focus {
  color: var(--active-color);
  border-color: var(--active-color);
}

.client__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background: var(--footer-background-color);
}

.footer__conteiner {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__conteiner {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__conteiner {
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__conteiner {
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wraper {
    padding-left: 76px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}

.footer__contacts {
  margin-top: 20px;
  font-style: normal;
}

.footer__items:not(:first-child) {
  margin-top: 8px;
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address:hover, .footer__address:focus {
  color: var(--active-color);
}
@media screen and (max-width: 1199px) {
  .footer__address {
    display: flex;
    justify-content: center;
  }
}

.footer__mail, .footer__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail:hover, .footer__mail:focus, .footer__mail:hover, .footer__mail:focus, .footer__tel:hover, .footer__tel:focus, .footer__tel:hover, .footer__tel:focus {
  color: var(--active-color);
}
@media screen and (max-width: 1199px) {
  .footer__mail, .footer__tel {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__slogan {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__slogan {
    padding-right: 89px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__slogan {
    margin-left: 70px;
  }
}

.slogan__title {
  font-size: 16px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-light-color);
}
@media screen and (max-width: 1199px) {
  .slogan__title {
    text-align: center;
  }
}

.slogan__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer__form {
  padding-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: auto;
    padding-top: 0;
  }
}

.signature__form {
  margin-top: 20px;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .signature__form {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .signature__form {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.signature__title {
  height: fit-content;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-light-color);
}
@media screen and (max-width: 1199px) {
  .signature__title {
    text-align: center;
  }
}

.signature__input {
  padding: 15px 16px;
  color: #FFFFFF;
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.signature__input:hover, .signature__input:focus {
  border-color: var(--active-color);
}
@media screen and (max-width: 1199px) {
  .signature__input {
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .signature__input {
    width: 358px;
    margin-right: 12px;
  }
}

.signature__btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--btn-text-active-color);
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding: 0;
  padding-left: 28px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .signature__btn {
    height: 50px;
    margin-top: 20px;
  }
}

.signature__icon {
  position: absolute;
  left: 148px;
  top: 13px;
  fill: currentColor;
}

.choose__conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .choose__conteiner {
    justify-content: center;
  }
}

.choose__btn {
  display: inline-block;
  text-align: center;
  padding: 6px 22px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background: var(--btn-portfolio-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.choose__btn--first {
  padding: 6px 25px;
}
.choose__btn--active {
  background: var(--active-color);
  color: var(--btn-text-active-color);
}
.choose__btn:hover, .choose__btn:focus {
  background: var(--active-color);
  color: var(--btn-text-active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main__portfolio {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__list {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__list:hover, .portfolio__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  display: block;
  padding: 65px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}
@media screen and (min-width: 370px) {
  .portfolio__overlay {
    padding: 77px 24px;
  }
}

.portfolio__text {
  font-size: 16px;
  color: var(--light-header-color);
}
@media screen and (min-width: 390px) {
  .portfolio__text {
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column;
}

.portfolio__conteiner {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio__title {
  font-size: 14px;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  color: var(--header-color);
}

.portfolio__after-title {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-height: 100%;
  max-width: 100%;
  width: 450px;
  height: 100%;
  padding: 40px;
  display: block;
  justify-content: flex-end;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
  width: 30px;
  height: 30px;
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  color: var(--active-color);
}

.modal__close-icon {
  fill: currentColor;
}

.service__title {
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--header-color);
}
@media screen and (min-width: 1200px) {
  .service__title {
    font-size: 23px;
    line-height: 1.72;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.service__conteiner {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.service__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.service__wraper {
  position: relative;
}

.service__input {
  font: inherit;
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.service__input:focus, .service__input:hover {
  border-color: var(--active-color);
}

.service__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service__input:focus + .service__icon, .service__input:hover + .service__icon {
  fill: var(--active-color);
}

.service__coment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.service__textare {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  cursor: pointer;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service__textare::placeholder {
  font-size: 12px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.service__textare:focus, .service__textare:hover {
  border-color: var(--active-color);
}

.service__checkbox {
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__text {
  display: block;
  align-items: center;
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}
.checkbox__input:checked ~ .checkbox__icon {
  border-color: var(--active-color);
  background-color: var(--active-color);
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox__link {
  color: var(--active-color);
  text-decoration: none;
  border-bottom: 1px solid var(--active-color);
}

.service__btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font: inherit;
  letter-spacing: 0.06em;
  color: var(--btn-text-active-color);
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service__btn:focus, .service__btn:hover {
  background-color: #188CE8;
}/*# sourceMappingURL=main.css.map */