.header{
    border-bottom: 1px solid #ECECEC; 
    width: 100%;
    .conteiner {
        display: flex;
    }
}

.navigation{
    display: flex;
}

.navigation__logo{
    padding: 26px 0;
    margin-right: 88px;

    @media  screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;   
    }
}


.navigation__list{
    display: none;   

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center; 
    }
    @media screen and (max-width: 1199px) {
        margin-right: 96px; 
    }
}

.navigation__page:not(:last-child) {
    margin-right: 50px;
}


.navigation__link {
    position: relative;
    display: block;
    padding: 32px 0;
    color:inherit;
    @include text (14px, 1.14, 500, 0.02em);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &--active {
        color:var(--active-color);
            &::after{
                content:"";
                position: absolute;
                left: 0;
                bottom: -2%;
                display: block;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color:var(--active-color);}
    }        
}

.header__contacts{
    display: none;   
    @media screen and (min-width:768px) and (max-width: 1199px) {
        display:flex;
        flex-wrap: wrap;
        margin-right: auto;  
        padding: 21px 0;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;  
    }

}

.contacts__items:not(:first-child){
    @media screen and (max-width: 1199px){
        margin-top: 10px;
    }    
}
.contacts__items:not(:last-child){
    @media screen and (min-width: 1200px){
        margin-right: 50px;
    }
}


.contacts__link {
    display: flex;
    align-items: center;
    @include text (12px, 1.17, 500, 0.02em);
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 1200px) {
        @include text (14px, 1.14, 500, 0.02em);
        padding: 32px 0;
       
    }

    &:hover,
    &:focus {
        color:var(--active-color);
    }
}



.contacts__icon{
    margin-right: 8px;
    fill:currentColor;
    @media screen and (min-width: 1200px){
        margin-right: 10px;
    }
    &--mail{
        width:14px;
        height:10px;
        @media screen and (min-width: 1200px){
            width:16px;
            height:12px;
        }
        
    }
    &--tel{
        width:10px;
        height:14px;
        @media screen and (min-width: 1200px){
            width:10px;
            height:16px;
        }
    }  
}
.navigation__page:hover,
.navigation__page:focus {
    color:var(--active-color);
}