.hero{
    margin: 0 auto;
    height: 100%;
    max-width: 480px; 
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    padding-top: 118px;
    padding-bottom: 118px;
    background: var(--hero-backgroud-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mob-1x.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-mob-2x.jpg);
        }

    @media  screen and (min-width: 768px) {
        max-width: 768px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tab-1x.jpg);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tab-2x.jpg);    
        }   
    }

    @media  screen and (min-width: 1200px){
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-desk.jpg);
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-desk-2x.jpg);    
        }  
    }

    .conteiner {
        max-width: 360px;
        width: 100%;
       
        @media  screen and (min-width: 1200px){
            max-width: 696px;
        }        
    }
}

.hero__title{
    margin: 0;
    margin-bottom: 30px;
    @include text (26px, 1.61, 900, 0.06em);
    color: var(--light-header-color);
    text-align: center;
    text-transform: uppercase;
    
    @media  screen and (min-width: 1200px){
        @include text (44px, 1.36, 900, 0.06em);
    }        
 
}


.hero__btn{
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    background: var(--btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    @include text (16px, 1.87, 700, 0.06em);
    font-family: inherit;
    color:var(--light-header-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
        background:#188CEB;
    }
}
