

.menu-open{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-color: transparent;
    padding: 0;
    @media  screen and (min-width: 768px) {
        display: none; 
    }

}
.mob-menu{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    top:0;
    left: 0;
    padding: 48px 40px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }



.menu-close{
    position: absolute;
    top: 21px;
    right: 25px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        fill: var(--active-color);
    }
}

.mob__page:not(:last-child){
    margin-bottom: 32px;
}

.mob__link{
    @include text (40px, 1.17, 500, 0.02em);
    font-weight: 500;
    color: var(--header-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: var(--active-color);
    }

}
.mob__contacts{
    margin-top: 306px;

}
.mob__tel{
     @include text (25px, 1.17, 500, 0.02em);
    color:var(--active-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: rgb(36, 61, 229);
    }
    @media  screen and (min-width: 400px) {
        @include text (34px, 1.17, 500, 0.02em);  
    }
   
}
.mob__mail{
    @include text (24px, 1.16, 500, 0.02em);
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        color: rgb(36, 61, 229);;
    }
}

.mob__profile{
    display: flex;
    justify-content: center;
    margin-top: 64px;

}
.mob__social-link{
    @include text (16px, 1.22, 500, 0.02em);
    color: var(--active-color);
    @media  screen and (min-width: 400px) {
        @include text (18px, 1.22, 500, 0.02em);  
    }
    
    
}

.mob__social:not(:last-child){
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--active-color);
}