
.team{
    background: var(--our-team-background-color);
}

.team__title{
    @include text (36px, 1.16, 700, 0.03em);
    text-align: center;
    text-align: center;
    color:var(--header-color);
}

.team__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}
.team__items{
    width: 100%;
    @media  screen and (min-width: 768px) {
        width: calc(( 100% - 30px) / 2);   
    }
    @media  screen and (min-width: 1200px) {
        width: calc(( 100% - 90px) / 4); 
    }
}
    

.developer{
    background: var(--our-team-foto-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.developer__conteiner{
    padding-top: 30px;
    padding-bottom: 24px;

}

.developer__name{ 
    @include text (16px, 1.18, 500, 0.03em);
    text-align: center;
    color: var(--header-color);
}

.developer__job{
    margin-top: 10px;
    text-align: center;
    @include text (16px, 1.17, 400, 0.03em);
    line-height: 1.18;
    color: var(--text-color);
}

.developer__profile{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;

}

.profile__list{
    display: flex;
    align-items:center;
    justify-content: center; 
}