.logo{
    font-family: 'Raleway', sans-serif;
    @include text (24px, 1.24, 700, null);

    @media  screen and (min-width: 1200px) {
        font-size: 26px;
    }
    
}

.logo__wed {
    color: var(--logo-accent-color);
}

.logo__studio--dark {
    color: var(--logo-dark-color);
}
.logo__studio--light {
    color: var(--logo-light-color);
}