:root{
    --header-color: #212121;
    --light-header-color:#FFFFFF;
    --text-color:#757575;
    --logo-accent-color: #2196F3;
    --logo-dark-color: #000000;
    --logo-light-color: #FFFFFF;
    --btn-color: #2196F3;
    --btn-portfolio-color: #F5F4FA;
    --active-color: #2196F3;
    --btn-text-active-color: #FFFFFF; 
    --main-background-color: #FFFFFF;
    --hero-backgroud-color: #2F303A;
    --our-team-background-color: #F5F4FA;
    --after-hero-icon-background-color: #F5F4FA;
    --our-team-foto-background-color: #FFFFFF; 
    --footer-background-color: #2F303A;
    --footer-address-color: rgba(255, 255, 255, 0.6);
}